<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('index.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="root">
        {% block body %}{% endblock %}
        </div>
        
        {% block javascripts %}
            <script src="{{ asset('manifest.js') }}"></script>
            <script src="{{ asset('vendor.js') }}"></script>
            <script src="{{ asset('index.js') }}"></script>
        {% endblock %}
    </body>
</html>
