{% extends 'base.html.twig' %}

{% block body %}
    <div class="columns">
        <div class="column is-10 is-offset-1">
            <div class="columns">

                <div class="column">
                    <h1 class="is-size-3">
                    Lets buy {{ product.title }}
                    </h1>

                    {% include 'default/checkout-form.twig' %}

                </div>

                <div class="column is-one-third">
                    {% include "default/product.twig" %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('checkout') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('checkout') }}
{% endblock %}